{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "arrow-parens": "warn",
    "comma-dangle": ["warn", "always-multiline"],
    "import/newline-after-import": "off",
    "no-debugger": "off",
    "no-unused-vars": "warn",
    "quotes": ["warn", "single"],
    "semi": "warn",
    "space-before-function-paren": ["warn", "never"]
  }
}
